# Python
__pycache__/
*.pyc

# Notebooks
.ipynb_checkpoints/

# Virtual env
.venv/
venv/

# OS files
.DS_Store

# MLflow local
mlruns/

# Local venvs + packaging artifacts
.sf-venv/
.venv/
*.egg-info/

# Model artifacts (do not commit serialised models)
models/
models/*.pkl
models/best_model/
MLFLOW_BACKUP/SF-Crimes-MultiModel-FE/models/Xgboost/artifacts/model.pkl

*.ori
test_*.py
.env